---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    
    <p>
      <em>The author of this article ishappy to cunsult on your Haskel project or problem, regardless of size or level of advancedness. Be in touch on
        <a href="mailto:ari@arifordsham.com">ari@arifordsham.com</a>.
    </em>
    </p>

  </div>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
