---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  
      <div>
      <em>The author of this article is currently looking for work. You can read my CV on
      <a href="https://docs.google.com/document/d/1_-ssvM73F9gdPCpCy_da-svS-B-4haZ3m4tGci107PA">Google Docs</a>,
      and be in touch by email to <a href="mailto:arifordsham.com">arifordsham@gmail.com</a> or message me on <a href="https://www.linkedin.com/in/ari-fordsham/">LinkedIn.</a>
    </em>
    </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
